<div id="<%= dom_id expense %>" class="card mb-3">
  <div class="row g-0 d-flex align-items-center">
    <div class="col-4">
      <div class="card-body">
        <h6 class="card-title">Category:</h6>
        <p class="card-text"><small class="text-muted"><%= @category.name %></small></p>
      </div>
    </div>
    <div class="col-4">
      <div class="card-body">
        <h6 class="card-title"><%= expense.name %></h6>
        <p class="card-text"><small class="text-muted"><%= expense.created_at.strftime("%d-%b-%Y")%></small></p>
      </div>
    </div>
    <div class="col-4">
      <p>KSH <%= expense.amount %></p>
    </div>
  </div>
</div>
