<div class="b-container bg-light">
  <div class="card text-center">
    <div class="card-header bg-primary bg-gradient">
      <div class="row">
        <div class="col-12 d-flex flex-row justify-content-between align-middle mt-3 pt-3">
          <%= link_to "Add", new_category_expense_path, class: "text-light text-decoration-none p-1" %>
          <h4 class = "text-light p-1">EXPENSES</h4>
          <%= link_to "", destroy_user_session_path, class: "fa fa-sign-out text-light text-decoration-none" %>
        </div>
      </div>
    </div>
    <div class="card-body bg-light id="expenses"">
<<<<<<< HEAD
       <h5>
      <span>Total Expenditure: </span><span class = "text-success shadow"><%= Expense.where(category_id: @id).reduce(0) { |sum, t| sum + t.amount }  %></span>
      </h5>
=======
      <p style="color: green"><%= notice %></p>
      <h4>
        <span class = "text-dark fs-bold">Total Expenditure Tracked: </span><span class = "text-success shadow">KSH <%= Expense.where(category_id: @id).reduce(0) { |sum, t| sum + t.amount } %></span>
      </h4>
>>>>>>> Development
      <% @expenses.each do |expense| %>
        <%= render expense %>
      <% end %>
      <%= link_to "Back To Categories", categories_path, class: "text-decoration-none" %>
    </div>
  </div>
</div>
